<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row}}</td>
    </ng-container> -->
   
    <!-- Name Column -->
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><img height="35" width="35" [src]="row.logo" /></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
      <td mat-cell *matCellDef="let row">{{row.avg_price | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="marketCap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Market Cap</th>
      <td mat-cell *matCellDef="let row">{{row.circulating_supply | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Change</th>
      <td mat-cell *matCellDef="let row">{{ row.avg_price * row.change_24h_amount % 100}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
