.full-width-table {
    width: 100%;
    
    /* justify-content: center; */
  }
  .positive {
    background-color: green;
}

.negative {
    background-color: red;
}
.valueSymbol{
    font-size: 12px;
}

section {
    display: table;
  }
  
