
<div class="button-row">
  <button style="margin-right:5px" mat-raised-button color="primary" (click) ="getCryptoCurrencies()">Cryptocurrencies</button>
  <button style="margin-right:5px" mat-raised-button color="primary" (click) ="getCommodities()">Metals</button>
  <!-- <button style="margin-right:5px" mat-raised-button color="primary" (click) ="getFiats()">Fiats</button> -->
  <button style="margin-right:5px" mat-raised-button color="primary" (click) ="getIndexes()">Indices</button>
</div>
<div class="mat-elevation-z8"></div>
  <table class="full-width-table"  mat-table  [dataSource]="dataSource" >

    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef >#</th>
      <td mat-cell *matCellDef="let i = index">{{i + 1}}</td>
    </ng-container>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row"><img height="35" width="35" [src]="row.logo" /> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row" class = "mat-body-2">{{row.name}} <p class = "valueSymbol">({{row.symbol}})</p></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let row">{{row.avg_price | currency:'€' }}</td>
    </ng-container>

    <ng-container matColumnDef="marketCap">
      <th mat-header-cell *matHeaderCellDef >Market Cap</th>
      <td mat-cell *matCellDef="let row">{{row.circulating_supply | currency:'€'}}</td>
    </ng-container>

    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef >Change</th>
      <!-- TODO: CHANGE COLOR DEPENDING IF THE NUMBER IS NEGATIVE OR POSOTIVE -->
      <!-- <td mat-cell *matCellDef="let row">{{((row.change_24h_amount / row.avg_price ) * 100).toFixed(2)}}%</td> -->
      <td mat-cell *matCellDef="let row">{{calculatePercentage(row.change_24h_amount,row.avg_price)}}%</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <td mat-cell *matCellDef="let row">
        <button style="margin-right:10px" mat-raised-button color="primary">View</button>
        <button mat-raised-button color="primary">Buy</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  
