.full-width-table {
    width: 100%;
    
    border-collapse: collapse;
    display: table;
    padding-left: 30px;
    padding-right: 30px;
    /* justify-content: center; */
  }
 
th {
    border-bottom: 1px solid #81197c;
  }
  
    td.mat-cell { 
    padding: 20px 0;
    border: none;
    
  }
  
  tr.mat-row {
    background: #f6f6f8;
    border: 1px solid #81197c;
   
  }
  .mat-card, .mat-accordion{
    background: #f6f6f8;
    border: 1px solid #81197c;
   
  }
 .centerValues{
  margin:auto; 
  display:table;
  border:1px;
 }
 
.icon{
  font-size: 15px;
}

  .positive {
    color: green;
}
.negative {
  color: red;
}


.valueSymbol{
    font-size: 12px;
}

section {
    display: table;
  }

 .centerSpan{
  justify-content: center;
  align-items: center;
 }
